html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; // Smooth scrolling for iOS
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

header {
  margin: 0 2rem;
}

#city-navigation {
  position: relative;
  display: -webkit-flex; // Safari
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0 0;
  border-bottom: 2px solid #a8a8a8;

  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

    .nav-item {
      padding: 0 1rem;

      a {
        display: grid;
        text-decoration: none;
        color: #888888;
        font-weight: 500;
        padding: 5rem 0 0.75rem;
        transition: background-color 0.3s ease;

        &:hover,
        &:focus {
          outline: none;
        }

        &:hover {
          color: #328098;
        }

        &:active,
        &.active {
          color: #000000;
        }
      }
    }
  }

  #sliding-border {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: #000000;
    width: 0;
    transition: width 0.3s ease, transform 0.3s ease;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Apple-inspired styles for the time display
.time-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .city-time {
    font-size: 3rem;
    font-weight: 700;
    color: #474747;
  }
}

// Responsive design
@media (max-width: 768px) {
  .time-container {
    padding: 15px;
  }

  .city-time {
    font-size: 2rem;
  }
}

.hidden {
  display: none;
}

#sliding-border {
  transition: -webkit-transform 0.3s ease, transform 0.3s ease;
}
